.cellSizing {
  width: 17vw;
  background-color: white;
}
.tableStyling {
  background-color: black;
}
.cSBody {
  margin-top: 0px;
  margin-left: 0px;
  position: absolute;
  width: 100vw;
  height: 100vh;
  width: 100vw;
  animation-name: bgimage;
  animation-duration: 3s;
}
.bounceDiv {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  animation-name: bounceDiv;
  -webkit-animation-name: bounceDiv;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  position: absolute;
  top: 0vh;
  width: 100vw;
}

.fontWeight {
  font-weight: bold;
}

html {
  background-image: url("/images/Facebook-monkedia.jpg");
  background-size: 100% 100%;
}

@keyframes bgimage {
  0% {
    background-color: black;
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}
@-webkit-keyframes bounceDiv {
  0% {
    background-color: black;
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}

@keyframes bounceDiv {
  0% {
    top: -75vh;
  }
  40%,
  60%,
  100% {
    top: 0vh;
  }
  50% {
    top: -10;
  }
}
@-webkit-keyframes bounceDiv {
  0% {
    top: -75vh;
  }
  40%,
  60%,
  100% {
    top: 0vh;
  }
  50% {
    top: -10;
  }
}
