p {
  margin: 0px;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
}
.title {
  font-size: 2rem;
  margin-bottom: 2vh;
}

.navBar {
  background-color: rgba(0, 0, 0, 0.904);
  width: 100vw;
  height: 8vh;
  padding-top: 1vh;
  border-bottom: solid rgba(255, 255, 255, 0.7) 2px;
}

.navBar ul {
  list-style-type: none;
  text-align: center;
}

.navBar ul li {
  cursor: pointer;
  display: inline;
}

.navBar ul li a {
  border: solid rgba(255, 255, 255, 0.7) 2px;
  padding: 1vh;
  margin-right: 10vw;
  margin-left: 10vw;
  border-radius: 255px;
  width: auto;
}

.navBar ul li a:hover {
  border: solid #4989ffb3 2px;
}

.fontWeight {
  font-weight: bold;
  color: white;
}

.fontWeight a {
  color: white;
  text-decoration: none;
}
