.tableSizing {
    width: 20vw;
    font-weight: bold;
}
.cSBody{
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
}